<div class="header_left">
  <img src="img/logo/logo_img1.png" alt="Company logo">
  <img src="img/logo/logo_img2.png" width="1px" alt="">
  <img src="img/logo/logo_img3.png" alt="Brand">
</div>
<div class="header_center">
  <form action=" " onsubmit="return false;" id="search"><input id="searchBox" placeholder="Search" value="" type="text" alt="Search box"></form>
    
  
</div>
<div class="header_right">
  <img src="img/icons/add.png" alt="Upload" id="upload">
  <img src="img/icons/icon3.png" alt="Home" id="home">
  <img src="img/icons/icon1.png" alt="Logout" id="logout">
</div>

<script>
  /*global $*/
  $('#logout').click( () => {
    $.post('/logout')
    .done( () => {
      window.location.replace('/login');
    });
  });
  
  $('#home').click( () => {
    window.location.replace('/');
  });
  
  $('#search').submit( () => {
    $.post('/searchUser', {user: $('#searchBox').val()})
    .done((user) => {
      if(user)
      {
      window.location.replace('/postList?id=' + user._id);
      } else {
        window.location.replace('/error?e=userNotFound');
      }
    })
  })
  
  $('#upload').click( () => {
    window.location.replace('/upload' );
  });
</script>