<div class="header_left">
  <img src="../img/logo/logo_img1.png" alt="Company logo">
  <img src="../img/logo/logo_img2.png" width="1px" alt="">
  <img src="../img/logo/logo_img3.png" alt="Brand">
</div>
<div class="header_center">
  <form action="/server/searchProfile2.php" id="search" method="POST"><input id="searchBox" name="user" placeholder="Search" value="" type="text" alt="Search box"></form>
    
  
</div>
<div class="header_right">
  <img src="../img/icons/add.png" alt="Upload" id="upload">
  <img src="../img/icons/icon3.png" alt="Home" id="home">
  <img src="../img/icons/icon1.png" alt="Logout" id="logout">
</div>

<script>
  /*global $*/
  $('#logout').click( () => {
         Promise.resolve()
         .then(function(){
            return $.post('/server/logout.php');
          })
          .then(function(response){
          if(response.result)
          {
              window.location.replace('/client/views/loginAndRegistration.html');
          }
        })
  });
  
  $('#home').click( () => {
    window.location.replace('/client/views/index.html');
  });
  
  $('#upload').click( () => {
    window.location.replace('/client/views/upload.html' );
  });
</script>