<!-- Group information:

Student 1:

Tran Ngoc Phuong Dang (a.k.a Daniel). Student number: 7843618

Student 2:

Chi Hieu Tran (a.k.a Winson). Student number: 7822620

Student 3:

Duncan Robertson. Student number: 8074833 -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instagram Clone</title>
    
    <!-- Adds CSS -->
    <link href="../css/instagramClone.css" rel="stylesheet" type="text/css">
    
    <!-- Adds JQuery -->
    <script src="../js/jquery-3.2.1.min.js"></script>
  
    <!-- JavaScript to load the contents of the page -->
    <script>
    /*global $*/
      // Function to load the contents of the page
      function loadPage() {
        var id = window.location.href.split("=")[1];
        Promise.resolve()
        .then(() => {
          return $.post('searchProfile', {user: id});
        })
        .then((post) => {
          setUserProfile(post);
        })
      }
      
      // Function to set the user profile
      function setUserProfile(post){
        var userProfile = post;
        $('#displayName').html(userProfile.displayName);
        $('#profileImage').attr("src","../img/profile_img/" + userProfile.imageProfile);
        $('#postCount').html(userProfile.postsCount);
        $('#followerCount').html(userProfile.followersCount);
        $('#followingCount').html(userProfile.followingCount);
        addUserGallery(userProfile);
        setUserGalleryContent(userProfile);
      }
      
      // Function to add Gallery of user recent post to the Gallery Container
      function addUserGallery(userProfile){
        $('#galleryContainer').append('<div class="gallery">\
          <div class="gallery_upper">\
            <img src="" height="50px" class="profile" id="userProfileImage">\
            <h4>\
            <a href="/postList?id='+userProfile._id+'" style="text-decoration: none; font-size: 25px;color: aliceblue;"><span id="userProfileUsername"></span></a> \
              <img alt="verified" src="../img/icons/icon4.png">\
              <p id="userProfileFullName"></p>\
            </h4>\
          </div>\
          <div id="postContainer' + userProfile._id + '">\
          </div>\
        </div>');
        addUserPosts(userProfile);
      }
      
      // Function to set content of User Upper Gallery
      function setUserGalleryContent(userProfile){
        $('#userProfileImage').attr("src","../img/profile_img/" + userProfile.imageProfile);
        $('#userProfileUsername').html(userProfile.displayName);
        $('#userProfileFullName').html(userProfile.firstName + ' ' + userProfile.lastName);
      }
      
      // Function to add user Recent Posts html to Post Container
      function addUserPosts(userProfile){
        for (var j = 0; j < userProfile.postsCount; j++) {
          $('#postContainer' + userProfile._id).append('<div class="thumbnail">\
              <a href="" id="link' + userProfile._id + j + '">\
                <img src="" class="cards" id="thumbnail' + userProfile._id + j +'"/>\
              </a>\
              <h4>\
                <img src="../img/icons/icon2.png" id="like' + userProfile._id + j +'"  height="15px" alt="Likes">\
                <i id="popularity' + userProfile._id + j +'"></i>\
                <img src="../img/icons/icon5.png" id="feedback' + userProfile._id + j +'"  height="15px" alt="Feedbacks">\
                <i id="feedbackCount' + userProfile._id + j +'"></i>\
              </h4>\
              <p class="text_column" id="status' + userProfile._id + j +'"></p>\
              <p class="tag" id="hastag' + userProfile._id + j +'"></p>\
            </div>');
          setPostsContent(userProfile._id, j, userProfile.postsCount);
        }
      }
    
      // Function to set content of Posts
      function setPostsContent(id, j, max){
        Promise.resolve()
        .then(() => {
          return $.post('getPostsContent', {id: id, max: max});
        })
        .then((posts) => {
          var postsContent = posts;
          $("#link" + id + j).attr('href', '/post/' + postsContent[j]._id);
          $('#thumbnail' + id + j).attr("src","../img/instagram_img/" + postsContent[j].image);
         
          var postid = postsContent[j]._id;
          var likeCountTag = "popularity" + id + j;
          
          var likeIconIDTag = "like" + id + j;
          isLike(postid, likeIconIDTag, likeIconIDTag);
          
          $('#like' + id + j).attr('onclick','likeClick("' + postid + '", "' + likeCountTag +'","' + likeIconIDTag + '")');
          $('#popularity' + id + j).html(postsContent[j].likeCount);
          $('#feedbackCount' + id + j).html(postsContent[j].feedbackCount);
          $('#status' + id + j).html(postsContent[j].status);
          $('#hastag' + id + j).html(postsContent[j].hashTag);
        });
      }
      
      //handle a click on the LIKE button we've included with each post
      //we receive the ID of the post as a parameter
      function likeClick(id, likeCounttag, likeIconTag){
        Promise.resolve()
        .then(function(){
              //jQuery provides a nice convenience method for easily sending a post with parameters in JSON
              //here we pass the ID to the incrLike route on the server side so it can do the incrementing for us
              //note the return. This MUST be here, or the subsequent then will not wait for this to complete
              return $.post('incrLike', {id : id});
          })
          .then(function(like){
              if (like.count > 0)
              {
                  //jQuery provides a nice convenience methot for easily setting the count to the value returned
                  $('#' + likeCounttag).html(like.count);
              }
              if (like.result)
              {
                  $('#' + likeIconTag).attr('src','../img/icons/Like.png');
              }
              else
              {
                 $('#' + likeIconTag).attr('src','../img/icons/icon2.png');
              }
          })
          .catch(function(err){
              //always include a catch for the promise chain
              console.log(err);
          });
      }
      
      function isLike(postID, likeIconID)
      {
        Promise.resolve()
        .then(function(){
        return $.post('isLike', {id : postID});
          })
        .then(function(result){
          if(result)
          {
            console.log("true")
             $('#' + likeIconID).attr("src","../img/icons/Like.png");
          }
          else
          {
          }
        })
      }
    </script>
  </head>
  <body onload="loadPage();">
    
    <!-- Main Container -->
    <div class="container"> 
    
      <!-- Header Section-->
      <header id="header" class="header"></header>
      <script> 
      /*global $*/
      $(function(){
        $("#header").load("../templates/header.html");
      });
      </script> 
      
      <!-- Intro Section -->
      <section class="intro" >
        <div class="intro_column">
          <h3 id="displayName"></h3>
          <img src="" class="profile" alt="Profile image" id="profileImage"> 
        </div>
        <div class="intro_column">
          <p><strong>Welcome to Instagram!</strong></p>
          <p>Follow accounts to see photos in your feed.</p>
          <p><strong><i id="postCount"></i></strong> posts<span class="summary"><strong><i id="followerCount"></i></strong> followers</span> <span class="summary"><strong><i id="followingCount"></i></strong> following</span></p>
        </div>
      </section>
      
      <!-- Gallery Section -->
      <div id="galleryContainer"></div>
      
      <!-- Footer Section -->
      <footer id="footer"></footer>
      <script>
      /*global $*/
      $(function(){
        $("#footer").load("../templates/footer.html"); 
      });
      </script> 
      
      <!-- Copyrights Section -->
      <div class="copyright" id="copyright"></div>
      <script> 
      $(function(){
        /*global $*/
        $("#copyright").load("../templates/copyright.html"); 
      });
      </script> 
    </div>
  </body>
</html>
