<!-- 
  Group information:
  
  Student 1:
  
  Tran Ngoc Phuong Dang (a.k.a Daniel). Student number: 7843618
  
  Student 2:
  
  Chi Hieu Tran (a.k.a Winson). Student number: 7822620
  
  Student 3:
  
  Saurav Bedi. Student number: 7832124 
-->

<!DOCTYPE HTML>
<html>
	<head>
		<title>Reset Password</title>
		<link href="../css/forgotPassword.css" rel="stylesheet" type="text/css" media="all"/>
		<link href="../css/hide.css" rel="stylesheet" type="text/css" media="all"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
		<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
	    <script src="../js/jquery-3.2.1.min.js"></script>
	    <script src="../js/bootstrap.min.js"></script>
		<script>
	        /*global $*/
	        $(document).ready( ()=> {
				$('#resetForm').submit( ()=> {
					var email = $('#email').val();
					var password = $('#password').val();
					var repeatPassword = $('#repeat_password').val();
					var error = '';
					var regex = /^[a-z A-Z 0-9]+$/;
					if (regex.test(email)) {
				    	error += 'Invalid email!'
				    	$('#error').html(error);
				    } else if (password.length == 0) {
				    	error += 'Please enter your new password!'
				    	$('#error').html(error);
				    } else if (password.length < 6) {
				    	error += 'New password must include at least 6 characters!'
				    	$('#error').html(error);
				    } else if (repeatPassword.length == 0) {
				    	error += 'Please confirm your password!'
				    	$('#error').html(error);
				    } else if (repeatPassword.length < 6) {
				    	error += 'Confirm password must include at least 6 characters!'
				    	$('#error').html(error);
				    } else if (password != repeatPassword) {
				    	error += 'New password and confirm password do not match!'
				    	$('#error').html(error);
				    } else {
						Promise.resolve()
					    .then(function() {
					        return $.post('/server/server.php', 'type=sendEmail' + '&email=' + email + '&password=' + password);
					    })
					    .then(function(data) {
					    	if(!data.isValid) {
					    		  $('#error').html(data.message);
					    	}
					    })
						.catch(e => {
				        	$('#error').html("Your Account has been reset! </br> Please check your email to confirm");
					        $('#error').css('color','#ffffff');
					        $('#desc').addClass('hide');
					        $('#resetForm').addClass('hide');
					    });
					}	
				});
	        });
	    </script>
	</head>
	<body>
		<div class="elelment">
			<h2>Forgot password ?</h2>
			<div class="element-main">
				<h1>Reset Password</h1>
				<p id="desc">We can help you reset your password using your Instagram email address linked to your account.</p>
				<p id="error" style="color: #ed4956;"></p>
				<form id="resetForm" onSubmit="return false;" autocomplete="on"> 
					<input type="text" id="email" value="Please enter your email address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Please enter your email address';}">
					<p>Please enter your password<p>
					<input type="password" id="password" placeholder="Password">
					<p>Please confirm your password<p>
					<input type="password" id="repeat_password" placeholder="Confirm Password">
					<p></p>
					<input type="submit" value="Reset my password">
				</form>
			</div>
		</div>
		<div class="copy-right">
			<p>&copy;2017 - <strong>INSTAGRAM CLONE CREATED BY TRAN NGOC PHUONG DANG, CHI HIEU TRAN AND DUNCAN ROBERTSON</strong></p>
		</div>
	</body>
</html>