<!-- Group information:

Student 1:

Tran Ngoc Phuong Dang (a.k.a Daniel). Student number: 7843618

Student 2:

Chi Hieu Tran (a.k.a Winson). Student number: 7822620

Student 3:

Duncan Robertson. Student number: 8074833 -->

<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <title>Instagram Login and Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" type="text/css" href="../css/login.css" />
    <link rel="stylesheet" type="text/css" href="../css/login2.css" />
    <link rel="stylesheet" type="text/css" href="../css/loginAnimation.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link href="../css/hide.css" rel="stylesheet" type="text/css" media="all"/>
    
    <!-- Adds JQuery -->
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script>
        /*global $*/
        $(document).ready( ()=> {
        $('#login').submit( ()=> {
          var email = $('#email').val();
          var password = $('#password').val();
          
          if (email.length > 0 && password.length > 0){
              Promise.resolve()
              .then(function(){
                  return $.post('signin', 'username=' + email + '&password=' + password);
              })
          .then(function(auth){
                  if (auth.isValid){
                      window.location.replace('index');
                  } else {
                    $('#errorForm').addClass('has-error');
                    $('#error').html('Invalid email or password!');
                    $('#loginForm').trigger("reset");
                  }
              })
            }
          });
        });

        $(document).ready( ()=> {
          $('#register').submit( ()=> {
            var firstNameField = $('#firstNamesignup');
            var lastNameField = $('#lastNamesignup');
            var usernameField = $('#usernamesignup');
            var emailField = $('#emailsignup');
            var passwordField = $('#passwordsignup');
            var passwordConfirmField = $('#passwordsignup_confirm');
            
            var firstNameForm = $('#firstNameForm');
            var lastNameForm = $('#lastNameForm');
            var usernameForm = $('#usernameForm');
            var emailForm = $('#emailForm');
            var passwordForm = $('#passwordForm');
            
            firstNameForm.removeClass('has-error');
            lastNameForm.removeClass('has-error');
            usernameForm.removeClass('has-error');
            emailForm.removeClass('has-error');
            passwordForm.removeClass('has-error');
            
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; 
            var yyyy = today.getFullYear();

            if(dd<10){
                dd='0'+dd;
            } 
            if(mm<10){
                mm='0'+mm;
            } 
            today = dd+'/'+mm+'/'+yyyy;
            
            $.post('/register', {
              displayName: firstNameField.val() + ' ' + lastNameField.val(),
              firstName: firstNameField.val(),
              lastName: lastNameField.val(),
              username: usernameField.val(),
              email: emailField.val(),
              password: passwordField.val(),
              passwordConfirm: passwordConfirmField.val(),
              dateOfBirth: today
            })
            .done( (data) => {
              var fErr = $('#firstNameErr');
              var lErr = $('#lastNameErr');
              var uErr = $('#usernameErr');
              var eErr = $('#emailErr');
              var pErr = $('#passwordErr');
              var gErr = $('#generalErr');
              
              fErr.html('');
              lErr.html('');
              uErr.html('');
              eErr.html('');
              pErr.html('');
              gErr.html('');
              
              if(data.success) {
                $('#toggle').addClass('hide');
                $('#registerSuccess').html('Account created successfully!<br>');
                $.post('/signin', {
                  username: emailField.val(),
                  password: passwordField.val()
                })
                .done( (auth) => {
                  if(auth.isValid) {
                    $('#registerSuccess').append('Proceeding to site')
                    setTimeout(window.location.replace('index'), 5000);
                  }
                })
              } else {
                var firstNameFailure = '';
                var lastNameFailure = '';
                var usernameFailure = '';
                var emailFailure = '';
                var passwordFailure = '';
                var generalFailure = '';
                
                data.failures.forEach((failure) => {
                  switch(failure.field) {
                    case 'firstName':
                      firstNameFailure += failure.reason + '<br>';
                      break;
                    case 'lastName':
                      lastNameFailure += failure.reason + '<br>';
                      break;
                    case 'username':
                      usernameFailure += failure.reason + '<br>';
                      break;
                    case 'email':
                      emailFailure += failure.reason + '<br>';
                      break;
                    case 'password':
                      passwordFailure += failure.reason + '<br>';
                      break;
                    default:
                      generalFailure += failure.reason + '<br>';
                  }
                });
                
                if(firstNameFailure) {
                  firstNameForm.addClass('has-error');
                  fErr.html(firstNameFailure);
                }
                if(lastNameFailure) {
                  lastNameForm.addClass('has-error');
                  lErr.html(lastNameFailure);
                }
                if(usernameFailure) {
                  usernameForm.addClass('has-error');
                  uErr.html(usernameFailure);
                }
                if(emailFailure) {
                  emailForm.addClass('has-error');
                  eErr.html(emailFailure);
                }
                if(passwordFailure) {
                  passwordForm.addClass('has-error');
                  pErr.html(passwordFailure);
                }
                
                gErr.html(generalFailure);
              }
              $('#register input[type="submit"]').blur();
            });
          });
        });
    </script>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Instagram</h1>
				<nav class="codrops-demos">
				  <span>Sign up to see photos and videos from your friends.</span>
				</nav>
      </header>
      <section>				
        <div id="container_demo" >
          <a class="hiddenanchor" id="toregister"></a>
          <a class="hiddenanchor" id="tologin"></a>
          <div id="wrapper">
            <div id="login" class="animate form">
              <form id="loginForm" onSubmit="return false;" autocomplete="on"> 
                <h1>Log in</h1> 
                <div class="form-group" id="errorForm">
                  <span class="help-block" id="error"></span>
                </div>
                <p> 
                  <label for="email" class="uname" data-icon="u" > Your email</label>
                  <input name="email" required="required" type="email" placeholder="Email" id="email"/>
                </p>
                <p> 
                  <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                  <input name="password" required="required" type="password" placeholder="Password" id="password"/> 
                </p>
                <p class="keeplogin"> 
  							  <span><a style="text-decoration:none; font-size: 14px; font-style: italic;" href="/forgotPassword">Forgot password ?</a></span>
  						  </p>
                <p class="login button"> 
                  <input type="submit" value="Login"/> 
  						  </p>
                <p class="change_link">
  							  Don't have an account? 
  							  <a href="#toregister" class="to_register">Join us</a>
  						  </p>
              </form>
            </div>
            <div id="register" class="animate form">
              <form  onSubmit="return false;" autocomplete="on"> 
                <h1> Sign up </h1>
                <div class="has-error">
                  <span class="help-block" id="generalErr"></span>
                </div>
                <div class="has-success">
                  <span class="help-block" id="registerSuccess"></span>
                </div>
                <div id="toggle">
                <div class="form-group" id="firstNameForm">
                  <label class="control-label uname" for="firstNamesignup" data-icon="u">Your first name</label>
                  <input type="text" id="firstNamesignup" name="firstNamesignup" required="required" placeholder="First name"/>
                  <span class="help-block" id="firstNameErr"></span>
                </div>
                <div class="form-group" id="lastNameForm">
                  <label class="control-label uname" for="lastNamesignup" data-icon="u">Your last name</label>
                  <input type="text" id="lastNamesignup" name="lastNamesignup" required="required" placeholder="Last name"/>
                  <span class="help-block" id="lastNameErr"></span>
                </div>
                <div class="form-group" id="usernameForm">
                  <label class="control-label uname" for="usernamesignup" data-icon="u">Your username</label>
                  <input type="text" id="usernamesignup" name="usernamesignup" required="required" placeholder="Username"/>
                  <span class="help-block" id="usernameErr"></span>
                </div>
                <div class="form-group" id="emailForm"> 
                  <label for="emailsignup" class="control-label youmail" data-icon="e" > Your email</label>
                  <input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="E-mail"/>
                  <span class="help-block" id="emailErr"></span>
                </div>
                <div class="form-group" id="passwordForm"> 
                  <label for="passwordsignup" class="control-label youpasswd" data-icon="p">Your password </label>
                  <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="Password"/>
                  <span class="help-block" id="passwordErr"></span>
                </div>
                <div>
                  <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                  <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="Confirm password"/>
                </div>
                <p class="signin button"> 
								<input type="submit" value="Sign up"/> 
    						</p>
                <p class="change_link">  
    							Already have an account ?
    							<a href="#tologin" class="to_register"> Log in </a>
    						</p>
    						</div>
              </form>
            </div>
          </div>
        </div>  
      </section>
    </div>
  </body>
</html>
