<!-- Group information:

Student 1:

Tran Ngoc Phuong Dang (a.k.a Daniel). Student number: 7843618

Student 2:

Chi Hieu Tran (a.k.a Winson). Student number: 7822620

Student 3:

Duncan Robertson. Student number: 8074833 -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Instagram Upload</title>
	
		<!-- Stylesheets -->
		<link rel="stylesheet" href="../css/upload.css" media="screen">
	
		<!-- Scripts -->
		<script src="../js/jquery-3.2.1.min.js"></script>
		<script src="../js/plupload.full.js"></script>
		<script src="../js/jquery-progressbar.min.js"></script>
		<script>
			/* global $ */
			/* global plupload */
			
			// Upload Form
			$(function() {
				// Settings ////////////////////////////////////////////////
				var uploader = new plupload.Uploader({
					runtimes : 'html5, flash', // Set runtimes, here it will use HTML5, if not supported will use flash, etc.
					url : '/createPost',
					browse_button : 'pickfiles', // The id on the select files button
					multi_selection: false, // Allow to select one file each time
					container : 'uploader', // The id of the upload form container
					max_file_size : '1024kb', // Maximum file size allowed
					filters : [ {title : ".JPG", extensions : "jpg, JPG"}, {title : ".PNG", extensions : "png, PNG"} ] // Filter the files that will be showed on the select files window
				});
	
				// RUNTIME
				uploader.bind('Init', function(up, params) {
					$('#runtime').text(params.runtime);
				});
	
				// Start Upload ////////////////////////////////////////////
				// When the button with the id "#uploadfiles" is clicked the upload will start
				$('#uploadfiles').click(function(e) {
					uploader.settings.multipart_params = { 
						status: $('#status').val(),
						hashtag: $('#hashtag').val()}
					uploader.start();
					e.preventDefault();
				});
	
				uploader.init(); // Initializes the Uploader instance and adds internal event listeners.
				
				uploader.bind('FileUploaded', (dir, file, obj) => {
					var response;
					try {
						response = eval(obj.response);
					} catch (err) {
						response = eval('(' + obj.response + ')');
					}
					if(response.success) {
						$('#msgBox').css('color', 'green').html(response.success);
						$.post('/updatePostsCount', {id: response.user})
					    .done((user) => {
					      window.location.replace('/postList?id=' + user._id);
					    })
					} else {
						$('#msgBox').css('color', 'red').html(response.error);
					}
				})
				// Selected Files //////////////////////////////////////////
				// When the user select a file it wiil append one div with the class "addedFile" and a unique id to the "#filelist" div.
				// This appended div will contain the file name and a remove button
				uploader.bind('FilesAdded', function(up, files) {
					$.each(files, function(i, file) {
						$('#filelist').append('<div class="addedFile" id="' + file.id + '">' + file.name + '<a href="#" id="' + file.id + '" class="removeFile"></a>' + '</div>');
					});
					up.refresh(); // Reposition Flash
				});
	
				// Error Alert /////////////////////////////////////////////
				// If an error occurs an alert window will popup with the error code and error message.
				// Ex: when a user adds a file with now allowed extension
				uploader.bind('Error', function(up, err) {
					alert("Error: " + err.code + ", Message: " + err.message + (err.file ? ", File: " + err.file.name : "") + "");
					up.refresh(); // Reposition Flash
				});
	
				// Remove file button //////////////////////////////////////
				// On click remove the file from the queue
				$('a.removeFile').live('click', function(e) {
					uploader.removeFile(uploader.getFile(this.id));
					$('#'+this.id).remove();
					e.preventDefault();
				});
	
				// Progress bar ////////////////////////////////////////////
				// Add the progress bar when the upload starts
				// Append the tooltip with the current percentage
				uploader.bind('UploadProgress', function(up, file) {
					var progressBarValue = up.total.percent;
					$('#progressbar').fadeIn().progressbar({
						value: progressBarValue
					});
					$('#progressbar .ui-progressbar-value').html('<span class="progressTooltip">' + up.total.percent + '%</span>');
				});
	
				// Close window after upload ///////////////////////////////
				// If checkbox is checked when the upload is complete it will close the window
				uploader.bind('UploadComplete', function() {
					if ($('.upload-form #checkbox').attr('checked')) {
						$('.upload-form').fadeOut('slow');
					}
				});
			}); // end of the upload form configuration
		</script>
	
		<!-- Styles -->
		<style type="text/css">
			html, body { margin: 0;	padding: 0; }
			body { background: #ffffff no-repeat top center; padding-top: 265px; }
			#uploader { margin: 0 auto; }
			.info { text-align: center; padding: 50px 0; color: #666; font-family: Helvetica, Arial, sans-serif; }
			#runtime { text-transform: uppercase; }
			.info span { color: #81c468; }
		</style>
	</head>
	<body>
		<div id="msgBox"></div>
		<div class="upload-form" id="uploader">
		
			<!-- Form Heading -->
			<h1 class="replace-text">Post a new photo</h1>
			<p>Please choose a photo to upload</p>
			<textarea rows="4" cols="10" placeholder="Status" id="status"></textarea>
			<input name="hashtag" required="required" type="text" placeholder="Hashtag" id="hashtag"/>
		
			<!-- Select & Upload Button -->
			<div>
				<a class="button" id="pickfiles" href="#">Select</a>
				<a class="button" id="uploadfiles" href="#">Upload</a>
			</div>
		
			<!-- File List -->
			<div id="filelist" class="cb"></div>
		
			<!-- Progress Bar -->
			<div id="progressbar"></div>
		</div>
		<div class="info">Max File Size <span>1MB</span> | Only <span>Images</span> Allowed | Using <span id="runtime"></span></div>
	</body>
</html>